{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react" // Needed for React
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", // Needed for Rollup babelHelper "runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}